%h1 Companies
=link_to "New Company", new_company_path
%table
  %thead
    %tr
      %th Name
      %th City
      %th Nonprofit?
      %th
  %tbody
    -@companies.each do |company|
      %tr
        %td=company.name
        %td=company.city
        %td=company.nonprofit
        %td
          .pull-right
            =link_to "Show", company
            =link_to "Edit", edit_company_path(company)
            =link_to "Delete", company, method: :delete, data: { confirm: 'Are you sure?' }
